.chat-left {
  margin-top: 10px;

  background-color: #00a7b5;
  color: #fff;
  margin-left: 15px;
  text-align: center;
}

.chat-right {
  margin-top: 10px;
  margin-right: 15px;

  background-color: #78be20;
  color: #fff;
  text-align: center;
}


form {
  width: 100%;

  .chat-input {
    width: 95%;
    padding: 0 15px;
  }
}


mat-card-footer {
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.mat-card-content {
  margin-bottom: 5px;
}

.chat-window {
    height:87%;
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
    overflow-y: auto;
}

.bot-header {
  flex: 0 0 auto;
  background: rgb(120, 190, 32);
  background: -moz-linear-gradient(90deg, rgba(120, 190, 32, 1) 0%, rgba(0, 167, 181, 1) 50%);
  background: -webkit-linear-gradient(90deg, rgba(120, 190, 32, 1) 0%, rgba(0, 167, 181, 1) 50%);
  background: linear-gradient(90deg, rgba(120, 190, 32, 1) 0%, rgba(0, 167, 181, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#78be20", endColorstr="#00a7b5", GradientType=1);
  color: white;
  
  div {
    text-align: center;
    width: 100%;
  }
  
}

.chat-input-area {
    flex: 0 0 auto;
}

.nexbot-header-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    object-position: top;
  }
  

  .message-left {
    float: left;
    clear: both;
    display: flex;
    max-width: 70%;
  }


  .message-right{
    float: right;
    clear: both;
    display: flex;
    max-width: 70%;
  }




  /* Chat Window */
  /* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }